@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
.navbar{
    font-family: 'Bentham', serif;
    letter-spacing: 3px;
    font-size: 20px;
}
.navbar>span{
    letter-spacing: 0px;
    font-size: 14px;
}
a,a:hover,a:visited{
    color: #000
}
.menu{
	z-index: 98;
	position: absolute;
	top: 54px;
	height:500px;
	width: 550px;
	background-color: #fff;
	box-shadow: 13px 0 6px -6px #50505085;
	border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;
}
.col-md-half{
    width: 4.16667%;
}
.col-md-5half{
    width: 45.8333%;
}
.row.main>div{
    height: 500px;
    padding: 0px;
    margin: 0px;
}
.row.main>div>div{
    position: relative;
    top:50%;
}
.row.main>div:nth-child(2){
    background-color: #ff5733;
}
.row.main>div:nth-child(3){
    background-color: #222831;
}
.toggle-icon {
	z-index: 99;
	display: block;
	position: relative;
    padding-left: 25px;
	margin: -2.2em auto 0 0.2em;
	-webkit-transition: margin 600ms;
	-moz-transition: margin 600ms;
	transition: margin 600ms;
	cursor: pointer;
}
.toggle-icon .bar {
	display: block;
	width: 0.8em;
	height: 0.15em;
	margin: 0.5em;
	border-right: 1.4em solid #222831;
	border-left: 0.6em solid #000000af;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
	-moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
	transition-property: transform, margin, border-right-color, box-shadow;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	transition-duration: 300ms;
}
.toggle-icon .bar:nth-of-type(1) {
	-webkit-transition: opacity 100ms;
	-moz-transition: opacity 100ms;
	transition: opacity 100ms;
}
.toggle-icon .bar:nth-of-type(2) {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.pushed .toggle-icon {
	margin: -3.2em 0 0 0.7em;
}
.pushed .bar:nth-of-type(1) {
	opacity: 0;
}
.toggle-icon.pushed {
    margin-top: -60px;
}
.pushed .bar:nth-of-type(2) {
	margin-left: 1.55em;
    margin-bottom: 0.93em;
	-webkit-transform: rotate(-137deg) translateY(-1.5em);
	-moz-transform: rotate(-137deg) translateY(-1.5em);
	-ms-transform: rotate(-137deg) translateY(-1.5em);
	-o-transform: rotate(-137deg) translateY(-1.5em);
	transform: rotate(-137deg) translateY(-1.5em);
}
.pushed .bar:nth-of-type(3) {
	margin-left: 0.5em;
	-webkit-transform: rotate(-42deg);
	-moz-transform: rotate(-42deg);
	-ms-transform: rotate(-42deg);
	-o-transform: rotate(-42deg);
	transform: rotate(-42deg);
}

@media screen and (max-width:768px){
    .toggle-icon{
        padding-top: 21px;
        width: 0px;
        left: 45%;
        padding-left: 0px;
	}
	.menu{
		width: 100%;
		top:60px;
		height: 350px;
		box-shadow: 0px 20px 15px 2px #50505085;
		border-top-right-radius: 0%;
		border-bottom-left-radius: 25%;
	}
	.toggle-icon.pushed {
		padding-top: 6px;
		margin-top: -36px;
	}
    .row.main>div{
        height: 400px;
    }
    .row.main>div:first-child,.row.main>div:last-child{
        height: 8px;
    }
    .row.main>div>div{
        position: relative;
        top:30%;
    }
    .col-md-half,.col-md-5half{
        width: 100%;
    }
}
